{% block styles %}
<link
  href="{{ static 'shapesort/_app/immutable/assets/_layout-e25eeda1.css' }}"
  rel="stylesheet"
/>
<link
  href="{{ static 'shapesort/_app/immutable/assets/_page-ae0bbcec.css' }}"
  rel="stylesheet"
/>
<link
  rel="modulepreload"
  href="{{ static 'shapesort/_app/immutable/start-bba50745.js' }}"
/>
<link
  rel="modulepreload"
  href="{{ static 'shapesort/_app/immutable/chunks/index-afd830a6.js' }}"
/>
<link
  rel="modulepreload"
  href="{{ static 'shapesort/_app/immutable/chunks/singletons-a886b5cf.js' }}"
/>
<link
  rel="modulepreload"
  href="{{ static 'shapesort/_app/immutable/components/pages/_layout.svelte-a1815f4c.js' }}"
/>
<link
  rel="modulepreload"
  href="{{ static 'shapesort/_app/immutable/modules/pages/_layout.js-7b9cbfbc.js' }}"
/>
<link
  rel="modulepreload"
  href="{{ static 'shapesort/_app/immutable/chunks/_layout-8d2a742b.js' }}"
/>
<link
  rel="modulepreload"
  href="{{ static 'shapesort/_app/immutable/components/pages/_page.svelte-89330cc6.js' }}"
/>

{% endblock %} {% block content %}

<!-- <body class="w-screen h-screen"> -->
<div class="w-full h-full">
  <main class="w-full h-full flex m-0 p-0 overflow-hidden">
    <section class="flex flex-1 h-full">
      <h2 class="flex-1 text-4xl font-bold text-center pt-8">
        Sort the shapes
      </h2>
    </section>
    <section class="w-64 h-full flex flex-col">
      <div
        id="bucket1"
        class="flex-1 border flex items-center justify-center svelte-ok46lk"
      >
        <div class="w-full h-full bg-green-900 opacity-70"></div>
      </div>
      <div
        id="bucket2"
        class="flex-1 h-full border flex items-center justify-center svelte-ok46lk"
      >
        <div class="w-full h-full bg-blue-900 opacity-70"></div>
      </div>
      <div
        id="bucket3"
        class="flex-1 border flex items-center justify-center svelte-ok46lk"
      >
        <div class="w-full h-full bg-red-900 opacity-70"></div>
      </div>
    </section>
  </main>
</div>

{% endblock %} {% block scripts %}
<script type="module" data-sveltekit-hydrate="1ebz4ex">
  import { start } from "{{ static 'shapesort/_app/immutable/start-bba50745.js' }}";

  start({
    env: {},
    hydrate: {
      status: 200,
      error: null,
      node_ids: [0, 2],
      params: {},
      routeId: "",
      data: (function (a) {
        return [a, a];
      })(null),
      form: null,
    },
    paths: { base: "", assets: "" },
    target: document.querySelector('[data-sveltekit-hydrate="1ebz4ex"]')
      .parentNode,
    trailing_slash: "never",
  });
</script>
{% endblock %}
